.single-fact {
	box-shadow: 0 3px 10px -5px rgba($black, 0.15);
	transition: $transition-base;

	&:hover {
		box-shadow: 0 5px 20px -3px rgba($black, 0.15);
	}

	.hexagon {
		width: 3rem;
		height: 4.65rem;
		border-radius: 8px;

		.icon {
			width: 3rem;
			height: 3rem;
			font-size: 2rem;
		}
	}

	.counter {
		&.plus {
			&::after {
				content: "\F4FE";
				display: inline-block;
				font-family: bootstrap-icons !important;
				font-size: 80%;
				font-style: normal;
				font-weight: 400 !important;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				vertical-align: -0.125em;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-left: -2rem;
				transform: translateX(1.8rem);
			}
		}
	}
}

.team-item {
	box-shadow: 0 3px 10px -5px rgba($black, 0.15);
	transition: $transition-base;

	h3 {
		color: $primary;
		transition: $transition-base;
	}

	&:hover {
		box-shadow: 0 5px 20px -3px rgba($black, 0.15);

		h2 {
			color: $secondary;
		}

		.icon {
			color: $secondary;
		}
	}

	.icon {
		font-size: 2rem;
	}
}

.promise-section {
	.content-block {
		box-shadow: 0 5px 20px -3px rgba($black, 0.15);
	}

	.hexagon-outline-shape {
		position: absolute;
		z-index: auto;
		bottom: 1rem;
		left: 2rem;
		fill: transparent;
		stroke: rgba($primary, 0.2);
		stroke-width: 0.15px;
		width: 130px;
		height: 136px;

		&.two {
			bottom: auto;
			left: auto;
			top: 1rem;
			right: 2rem;
			width: 110px;
			height: 116px;
		}
	}

	.hexagon-filled-shape {
		position: absolute;
		z-index: auto;
		bottom: 1rem;
		left: 1rem;
		fill: rgba($primary, 0.2);
		stroke: transparent;
		stroke-width: 0;
		width: 100px;
		height: 106px;

		&.two {
			bottom: auto;
			left: auto;
			top: 1rem;
			right: 1rem;
			width: 80px;
			height: 84px;
		}
	}
}
