ul,
ol {
    margin: 0;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    padding: 0;
}

.tribe-events .datepicker .day.active,
.tribe-events .datepicker .day.active.focused,
.tribe-events .datepicker .day.active:focus,
.tribe-events .datepicker .day.active:hover,
.tribe-events .datepicker .month.active,
.tribe-events .datepicker .month.active.focused,
.tribe-events .datepicker .month.active:focus,
.tribe-events .datepicker .month.active:hover,
.tribe-events .datepicker .year.active,
.tribe-events .datepicker .year.active.focused,
.tribe-events .datepicker .year.active:focus,
.tribe-events .datepicker .year.active:hover {
    background: $primary;
}

.tribe-common .tribe-common-anchor-thin {
    border: 0;

    transition: $transition-base;
}

.tribe-common .tribe-common-anchor-thin:active,
.tribe-common .tribe-common-anchor-thin:focus,
.tribe-common .tribe-common-anchor-thin:hover {
    border: 0;
    color: $primary;
}

.tribe-common .tribe-common-c-svgicon {
    color: $primary;
    fill: $primary;
    transition: $transition-base;
    opacity: 1;
}

// .tribe-common .tribe-common-b3 {
//     color: var(--tec-color-text-primary);
// }

.tribe-common .tribe-common-cta {
    border: 1px solid $primary;
    color: $primary !important;
    transition: $transition-base;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    font-size: $font-size-base;

    &:hover {
        background: $primary;
        color: $white !important;
        border-color: $primary;
    }
}

.tribe-events-c-small-cta__price {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
}

fieldset.tribe-filter-bar-c-filter__filters-fieldset {
    display: grid;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background: $primary;
    color: var(--global-palette-btn);
}

.tribe-filter-bar .tribe-filter-bar-c-range__slider .ui-slider-range {
    background: $primary;
}
.tribe-common .tribe-common-form-control-checkbox__input,
.tribe-common .tribe-common-form-control-radio__input {
    background-color: var(--tec-form-color-background);
    border: 1px solid var(--tec-form-color-border-default);
    height: 20px;
    position: relative;
    width: 20px;
}
.tribe-common .tribe-common-form-control-checkbox__input:checked,
.tribe-common .tribe-common-form-control-radio__input:checked {
    background: $primary;
    border-color: darken($primary, 10);
}

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:focus,
.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover {
    background-color: lighten($primary, 70);
    border-color: $primary;
}

.tribe-events-c-search__button {
    color: $primary !important;
    border: 1px solid $primary !important;
    transition: $transition-base;
}

.tribe-events-c-search__button:hover {
    color: $white !important;
    border: 1px solid $primary !important;
    background-color: $primary !important;
}

// Single event

.content-area {
    margin: 0;
}

.site-container,
.site-header-row-layout-contained,
.site-footer-row-layout-contained,
.entry-hero-layout-contained,
.alignfull > .wp-block-cover__inner-container,
.alignwide > .wp-block-cover__inner-container {
    padding: 0;
}

.entry-content-wrap {
    padding: 0;
}

.tribe-events-event-image img {
    width: 100%;
}

.tribe-events-content a {
    border-bottom: 1px solid $primary;
    color: $primary;
    transition: $transition-base;
}

.tribe-events-content a:active,
.tribe-events-content a:focus,
.tribe-events-content a:hover {
    border-bottom: 1px solid currentColor;
    color: $secondary;
}

.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn-border {
    color: $primary;
    display: inline-block;
    width: auto;
    background-color: var(--tec-color-background);
    border: 1px solid $primary;
    transition: $transition-base;
}

.tribe-events
    .tribe-events-c-subscribe-dropdown
    .tribe-events-c-subscribe-dropdown__button:focus-within,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover {
    background-color: $primary;
    color: $white;
}

.tribe-events
    .tribe-events-c-subscribe-dropdown
    .tribe-events-c-subscribe-dropdown__button:hover
    svg {
    fill: currentColor;
    color: currentColor;
}

.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__content {
    position: absolute;
    z-index: 100;
}

.tribe-events-meta-group a {
    color: $primary;
}
.tribe-events-event-meta a,
.tribe-events-event-meta a:visited {
    color: $primary;
}
.tribe-events-event-meta a:focus,
.tribe-events-event-meta a:hover {
    color: $secondary;
}

.tribe-events-back a:hover {
    color: $primary;
}
