.hero-section {
    background: url(../images/hero-bg.jpg) no-repeat center center / cover;
}
.hero-img-container {
    .hexagon-outline-shape {
        stroke: rgba($primary,.4);
        stroke-width: 0.1px;
    }
}