.info-img-wrapper {
    transform: rotate(180deg);

    .hexagon-image-container {
        transform: rotate(-149.5deg);

        .hexagon-outline-shape {
            stroke-width: 0.15px;
        }
    }

    .mask-img {
        transform: rotate(-30.5deg);
    }

    .negetive-margin {
        margin-top: -1rem;

        @include media-breakpoint-down(xxl) {
            margin-top: -.5rem;
        }

        @include media-breakpoint-down(xl) {
            margin-top: 0rem;
        }

        @include media-breakpoint-down(lg) {
            margin-top: -1.25rem;
        }

        @include media-breakpoint-down(md) {
            margin-top: -.5rem;
        }

        @include media-breakpoint-down(sm) {
            margin-top: 0rem;
        }
    }
}
