.info-section {
    overflow: hidden;
    
    .negetive-margin {
        margin-top: -3.5rem;

        @include media-breakpoint-down (xxl) {
            margin-top: -2.75rem;
        }

        @include media-breakpoint-down (xl) {
            margin-top: -2rem;
        }

        @include media-breakpoint-down (lg) {
            margin-top: -4rem;
        }

        @include media-breakpoint-down (md) {
            margin-top: -2.5rem;
        }

        @include media-breakpoint-down (sm) {
            margin-top: -1.25rem;
        }
    }
}
