.search-result-filter-form {
    label {
        white-space: nowrap;
    }
    #show-result-quantity {
        @include media-breakpoint-up(md) {
            min-width: 80px;
        }
    }
    #short-by-selection {
        @include media-breakpoint-up(md) {
            min-width: 120px;
        }
    }
}
