.team-list {
    backdrop-filter: blur(4px);
    .nav-link {
        border: 1px solid $primary;
        padding: 1rem 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-lg;
        }

        &:hover,
        &:focus,
        &.active {
            background: $primary;
            color: $white;
        }

        &.active {
            box-shadow: $box-shadow;
        }
    }
}

.team-member-card {
    transition: $transition-base;
    
    &-top {
        overflow: hidden;
        
        img {
            object-fit: cover;
            transform: none;
            will-change: transform;
            transition: $transition-base;
        }
    }

    &:hover {
        .team-member-card-top {
            img {
                transform: scale(1.05);
            }
        }
    }
}
